<!DOCTYPE html>
<html>
<head>

    <title>Sign Up Form</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SendCredential.css">
</head>
<body class="body-color">
    <center>
        <form id="signupForm" action="#" method="post">
            <h2>Where to send Credential?</h2>
            <input type="radio" id="emailRadio" name="emailRadio" value="Email">
            <label for="html">Email</label><br>
            <input type="radio" id="mobileRadio" name="mobileRadio" value="Mobile">
            <label for="css">Mobile</label><br>
            <input type="submit" value="Submit">

        </form>
    </center>
</body>
</html>
