<!DOCTYPE html>
<html>
<head>
    <style>

        ::-webkit-calendar-picker-indicator {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
        }
    </style>

    <title>Sign Up Form</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SignUp.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body-color">
    <center>
        <form id="signupForm" action="#" method="post">
            <h2>Sign Up</h2>
            <label for="empId" class="label-class2">Emp Id:</label>
            <input type="text" id="empId" name="empId"><br>
            <label for="name" class="label-class">Name:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="mobile" class="label-class">Mobile:</label>
            <input type="text" id="mobile" name="mobile" required><br>
            <label for="email" class="label-class">Email:</label>
            <input type="text" id="email" name="email" required><br>
            <label for="userId" class="label-class">User Id:</label>
            <input type="text" id="userId" name="userId" required><br>
            <label for="password" class="label-class">Password:</label>
            <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br />
            <i class="fa fa-eye" id="togglePassword"></i>
            <label for="confirmPassword" class="label-class">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <i class="fa fa-eye" id="togglePassword2"></i><br>
            <label for="dob" class="date-format">Date of Birth:</label>
            <input type="date" id="dob" name="dob" class="input-date-format" required><br>
            <input type="submit" value="Submit">

        </form>
    </center>
    <script src="~/Scripts/SignUp.js"></script>
    <script src="~/Scripts/EyeSignSignUpConfirmPassword.js"></script>
    <script src="~/Scripts/eyeSignSignUpPassword.js"></script>
</body>
</html>
